@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

body {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

html,
body {
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  color: #d2d2d2;
  font-size: 3rem;
  text-align: end;
  width: 100%;
}

#main {
  border: 2px solid #ededed;
  border-radius: 50px;
  width: 100%;
  max-width: 280px;
  background-color: #223850;
  padding: 2rem 1rem;
}

.header {
  padding: 12px;
}

.footer > * + * {
  margin-top: 1rem;
}

.footer > *:last-child {
  gap: 1rem;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.3s ease-in;
}

.btn.btn-grow {
  flex-grow: 1;
  border-radius: 40px;
}

.btn:hover {
  transform: translate(-2px, -3px);
}

.btn.active {
  background-color: #ffffff;
  color: #f69906;
}

.btn-grey {
  background-color: #128094;
}

.btn-grey:hover {
  background-color: #18a6bf;
}

.btn-dark-grey {
  background-color: #9f9f9f;
}

.btn-dark-grey:hover {
  background-color: #ededed;
}

.btn-orange {
  background-color: #f69906;
}

.btn-orange:hover {
  background-color: orange;
}
